{% extends "base.html" %}
{% load static %}

{% block content_wrapper %}
{% block content %}
<script defer src="{% static 'search/js/dropdown.js' %}"></script>
<link rel="stylesheet" href="{% static 'search/css/search.css' %}">

<div class="shelf">
  {% if filters %}
  <select name="sort" id="sort-by">
    <option value="none" selected disabled hidden>filter by...</option>
    {% for filter in filters %}
    <option value="{{ filter }}">{{ filter }} (asc)</option>
    <option value="{{ filter }}_desc">{{ filter }} (desc)</option>
    {% endfor %}
  {% endif %}
  </select>
  {% for item in docs %}
  <div class="item">
    {% if item.image %}
    <div class="imgdiv"><img src={{ item.image }}></div>
    {% else %}
    <div class="imgdiv"><img src="{% static to_page %}"></div>
    {% endif %}
    <div class="metadata">
      <a href="{% url to_page item.id %}">
        {{ item.title }}
      </a>
      {% for metadata in item.meta %}
      <p>{{ metadata }}</p>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
{% endblock %}
