{% extends "base.html" %}

{% block content %}

<h1 class="mb-4">Book Clubs</h1>

<div class="row">

    {% for club in clubs %}

    <div class="col-md-4">

        <div class="card p-3 mb-3">

            <h4>{{ club.name }}</h4>

            <p>{{ club.description }}</p>

            <p><b>{{ club.members.count }}</b> members</p>

            <a href="{% url 'club_detail' club.id %}">
                <button class="btn btn-primary">
                    View Club
                </button>
            </a>

        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}{% extends "base.html" %}

{% block content %}

<h1 class="mb-4">Book Clubs</h1>

<div class="row">

    {% for club in clubs %}

    <div class="col-md-4">

        <div class="card p-3 mb-3">

            <h4>{{ club.name }}</h4>

            <p>{{ club.description }}</p>

            <p><b>{{ club.members.count }}</b> members</p>

            <a href="{% url 'club_detail' club.id %}">
                <button class="btn btn-primary">
                    View Club
                </button>
            </a>

        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}